@charset 'utf-8';

@font-face {
  font-family: "Proxima Nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2") format("woff2"), url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff") format("woff"), url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot?#iefix") format("embedded-opentype"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2") format("woff2"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff") format("woff"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot?#iefix") format("embedded-opentype"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff2") format("woff2"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff") format("woff"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.eot?#iefix") format("embedded-opentype"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.woff2") format("woff2"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.woff") format("woff"), url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

// Set your brand colors
@import './BrandColors.scss';

// Update Bulma's global variables
$family-sans-serif: 'Proxima Nova',
-apple-system,
'Helvetica Neue',
Helvetica,
Roboto,
Arial,
sans-serif;

$text: $grey-dark;
$primary: $yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $grey-lighter;
$card-header-shadow: none;
// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


.ml-section {
  padding: 0 30px;
}

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/form.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/components/card.sass';
@import '../../node_modules/bulma/sass/components/breadcrumb.sass';
@import '../../node_modules/bulma/sass/layout/_all.sass';
@import '../../node_modules/bulma/sass/components/media.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/form/input-textarea.sass';
